<h2>Alert Messages</h2>
<div class="cmp__cards">
    <div class="cmp__alert primary">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert secondary">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert success">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert danger">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert warning">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert info">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert light">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
    <div class="cmp__alert dark">
        Here is an example of a single alert message.
        <i class="close icon ion-md-close"></i>
    </div>
</div>