<h2>Tables and Collections</h2>
<div class="cmp__cards">
    <h4 class="title">Pagination</h4>
    <nav class="cmp__pagination">
        <ul>
            <li>
                <a>Previous</a>
            </li>
            <li>
                <a>1</a>
            </li>
            <li>
                <a>2</a>
            </li>
            <li>
                <a>3</a>
            </li>
            <li>
                <a>Next</a>
            </li>
        </ul>
    </nav>
    <nav class="cmp__pagination m-t-40">
        <ul>
            <li>
                <a class="disabled">Previous</a>
            </li>
            <li>
                <a>1</a>
            </li>
            <li>
                <a>2</a>
            </li>
            <li>
                <a>3</a>
            </li>
            <li>
                <a>Next</a>
            </li>
        </ul>
    </nav>
    <nav class="cmp__pagination m-t-40 center">
        <ul>
            <li>
                <a class="disabled">Previous</a>
            </li>
            <li>
                <a>1</a>
            </li>
            <li>
                <a class="active">2</a>
            </li>
            <li>
                <a>3</a>
            </li>
            <li>
                <a>Next</a>
            </li>
        </ul>
    </nav>
    <h4 class="title m-t-50">Tables: Default</h4>
    <section class="cmp__table">
        <header class="header">
            <div class="w-10">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Small size</h4>
    <section class="cmp__table small">
        <header class="header">
            <div class="w-10">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Ordering</h4>
    <section class="cmp__table order">
        <header class="header">
            <div class="w-10 active-up">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Bordered</h4>
    <section class="cmp__table order">
        <header class="header">
            <div class="w-10 active-up">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content bordered">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Hovered</h4>
    <section class="cmp__table">
        <header class="header">
            <div class="w-10">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content hover">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-30">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Empty</h4>
    <section class="cmp__table">
        <header class="header">
            <div class="w-10">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-30">
                <span>Date</span>
            </div>
        </header>
        <div class="content">
            <div>
                <div class="center w-100">
                    <span>No data is available</span>
                </div>
            </div>
        </div>
    </section>
    <h4 class="title m-t-50">Tables: Editable</h4>
    <section class="cmp__table editable">
        <header class="header">
            <div class="w-10">
                <span>ID</span>
            </div>
            <div class="w-20">
                <span>First Name</span>
            </div>
            <div class="w-20">
                <span>Last Name</span>
            </div>
            <div class="w-20">
                <span>Username</span>
            </div>
            <div class="w-20">
                <span>Date</span>
            </div>
            <div class="w-10">
                <span>Edit</span>
            </div>
        </header>
        <div class="content">
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-20">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
                <div class="w-10 controls">
                    <i class="icon ion-md-create"></i>
                    <i class="icon ion-md-trash"></i>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-20">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
                <div class="w-10 controls">
                    <i class="icon ion-md-create"></i>
                    <i class="icon ion-md-trash"></i>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-20">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
                <div class="w-10 controls">
                    <i class="icon ion-md-create"></i>
                    <i class="icon ion-md-trash"></i>
                </div>
            </div>
            <div>
                <div class="w-10">
                    <span>1</span>
                </div>
                <div class="w-20">
                    <span>Dillon</span>
                </div>
                <div class="w-20">
                    <span>Cote</span>
                </div>
                <div class="w-20">
                    <span>username2019</span>
                </div>
                <div class="w-20">
                    <span>01-03-2019 - 09:10:25</span>
                </div>
                <div class="w-10 controls">
                    <i class="icon ion-md-create"></i>
                    <i class="icon ion-md-trash"></i>
                </div>
            </div>
        </div>
    </section>
</div>