<header class="cmp__header">
    <div class="logotype">
        <img src="assets/img/logotype.jpg">
    </div>
    <form>
        <div class="cmp__searcher active">
            <input type="text" placeholder="Search...">
            <i class="look icon ion-ios-search" role="img" aria-label="search outline"></i>
            <i class="close icon ion-ios-close-circle-outline" role="img" aria-label="close circle outline"></i>
        </div>
    </form>
    <div class="user">
        <img src="assets/img/profile.svg">
        <span>Ragnar Lodbrok</span>
        <i class="icon ion-ios-settings secondary"></i>
        <div class="cmp__dropdown"></div>
    </div>
</header>