<div class="container">
    <div class="cmp__cards">
        <div class="cmp__login">
            <div>
                <h1>Welcome to Nestline</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore natus aspernatur quod dolore quam quia numquam voluptas.</p>
                <form class="cmp__form">
                    <input type="email" placeholder="email@address.com">
                    <input type="password" placeholder="**********">
                    <div class="cmp__checkbox">
                        <label>
                            Remember me
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <button>Login</button>
                    <span class="forgot">Have you forgotten your credentials? <a href="#">Reset password</a></span>
                </form>
            </div>
            <div>
                <img src="assets/img/login-image.jpg">
            </div>
        </div>
    </div>
</div>