<h2>Galleries</h2>
<div class="cmp__cards">
    <h4 class="title">Image Gallery: Default</h4>
    <div class="cmp__gallery images">
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
    </div>
    <h4 class="title m-t-50">Image Gallery: Large</h4>
    <div class="cmp__gallery images large">
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
    </div>
    <h4 class="title m-t-50">Video embeds</h4>
    <p>Sample embed video</p>
    <div class="cmp__gallery video">
        <div>
            <app-videoplayer
                [aspectRatio]='9/16'
                [width]='60'
                [border]=''
                [borderRadius]=''
                [video]='vimeoSample'
            >
            </app-videoplayer>
        </div>
    </div>
    <p class="m-t-50">Video presentation</p>
    <div class="cmp__gallery video presentation">
        <iframe src="https://player.vimeo.com/video/54511177" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <h2>Video Presentation: Pictures Landscape</h2>
        <div class="user">
            <img src="assets/img/profile.svg">
            <span>Ragnar Lodbrok</span>
            <a href="#">+ Info</a>
        </div>
        <ul class="m-t-30 navigation">
            <li>Presentation Details</li>
            <li>Documents and material</li>
            <li>Reviews</li>
            <li>Messages</li>
        </ul>
    </div>
</div>