// TODO: Move this into nestline-themes repository
.video {
    .user {
        display: flex;
        align-items: center;

        img {
            display: block;
            width: 35px;
            margin-right: 15px;
            border-radius: 100%;
            overflow: hidden;
        }

        a {
            color: #1665d8;
        }
    }
}