<h2>Galleries</h2>
<div class="cmp__cards">
    <h4 class="title">Image Gallery: Default</h4>
    <div class="cmp__gallery images">
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
    </div>
    <h4 class="title m-t-50">Image Gallery: Large</h4>
    <div class="cmp__gallery images large">
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
    </div>
    <h4 class="title m-t-50">Video embeds</h4>
    <div class="cmp__gallery video">
        <div>
            <img src="assets/img/person-background.jpg">
        </div>
    </div>
</div>