<section class="cmp__table {{class}}">
    <header class="header">
        <div *ngFor="let col of header; let i = index;" class="{{col.class}}" (click)="order(i)">
            <span>{{col.value}}</span>
        </div>
        <div *ngIf="editable" class="w-10">
            <span>{{editableHeader}}</span>
        </div>
    </header>
    <div class="content {{contentClass}}">
        <div *ngFor="let row of body">
            <div *ngFor="let col of row" class="{{col.class}}" >
                <span>{{col.value}}</span>
            </div>
            <div *ngIf="editable" class="w-10 controls">
                <i class="icon ion-md-create"></i>
                <i class="icon ion-md-trash"></i>
            </div>
        </div>
        <div *ngIf="!body || body.length === 0">
            <div class="center w-100">
                <span>{{defaultText}}</span>
            </div>
        </div>
    </div>
</section>