<h2>Loaders</h2>
<div class="cmp__cards">
    <h4 class="title">Defaults</h4>
    <div class="grid">
        <div class="cmp__spinner m-g-30"></div>
        <div class="cmp__spinner secondary m-g-30"></div>
    </div>

    <h4 class="title">Buttons</h4>
    <div class="grid">
        <div class="w-20">
            <button class="spinner">
                <div class="cmp__spinner"></div>
                Loading
            </button>
        </div>
        <div class="w-20">
            <button disabled class="spinner">
                <div class="cmp__spinner"></div>
                Loading
            </button>
        </div>
        <div class="w-10">
            <button class="spinner">
                <div class="cmp__spinner"></div>
            </button>
        </div>
        <div class="w-10">
            <button disabled class="spinner">
                <div class="cmp__spinner"></div>
            </button>
        </div>
    </div>
</div>