<h2>Typography</h2>
<div class="cmp__cards">
    <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus dicta.</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus dicta.</h2>
    <h2 class="light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus dicta.</h2>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus dicta.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum perspiciatis alias exercitationem sunt dolorum at, commodi velit nam incidunt atque. Quibusdam at libero odio id cupiditate cumque labore corrupti deleniti?</p>
</div>