<h2>Tooltips</h2>
<div class="cmp__cards">
    <h4 class="title">Defaults</h4>
    <div class="grid">
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-alert"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-information-circle"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-help-circle"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-warning"></i>
            </a>
        </div>
    </div>
    <h4 class="m-t-50 title">Colorised</h4>
    <div class="grid">
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-alert secondary"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-information-circle secondary"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-help-circle secondary"></i>
            </a>
        </div>
        <div class="cmp__tooltip">
            <a href="#" title="Hello from speech bubble!">
                <i class="icon ion-md-warning secondary"></i>
            </a>
        </div>
    </div>
</div>