<h2>Welcome to Dashboard.</h2>
<div class="grid">
    <div class="cmp__cards m-r-30">
        <h4 class="title">Introduction card</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum perspiciatis alias exercitationem sunt dolorum at, commodi velit nam incidunt atque. Quibusdam at libero odio id cupiditate cumque labore corrupti deleniti?</p>
    </div>
    <div class="cmp__cards headline">
        <header>
            <h3>Open Threads</h3>
            <i class="icon ion-md-more"></i>
        </header>
        <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum perspiciatis alias exercitationem sunt dolorum at, commodi velit nam incidunt atque. Quibusdam at libero odio id cupiditate cumque labore corrupti deleniti?</p>
        </section>
    </div>
    <div class="cmp__cards user-profile m-l-30">
        <header>
            <img src="assets/img/person-background.jpg">
        </header>
        <div>
            <img src="assets/img/person.jpg">
            <h4>Miika Karras</h4>
        </div>
        <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat placeat perspiciatis eveniet.</p>
        </section>
    </div>
</div>
<div class="grid">
    <div class="cmp__cards small highlight m-r-30">
        <div>
            <i class="icon ion-ios-paper"></i>
        </div>
        <div>
            <h5>Total Pages</h5>
            <span>1625</span>
        </div>
    </div>
    <div class="cmp__cards small highlight m-r-30">
        <div>
            <i class="icon ion-md-person"></i>
        </div>
        <div>
            <h5>Total Pages</h5>
            <span>1625</span>
        </div>
    </div>
    <div class="cmp__cards small highlight">
        <div>
            <i class="icon ion-md-eye"></i>
        </div>
        <div>
            <h5>Total Pages</h5>
            <span>1625</span>
        </div>
    </div>
    <div class="cmp__cards small highlight m-l-30">
        <div>
            <i class="icon ion-md-bookmark"></i>
        </div>
        <div>
            <h5>Total Pages</h5>
            <span>1625</span>
        </div>
    </div>
</div>