<aside class="cmp__navigation">
    <nav>
        <ol>
            <li class="active open">
                <div>
                    <i class="icon ion-md-desktop"></i>
                    <span>Basics</span>
                    <i class="icon ion-ios-arrow-down up"></i>
                </div>
                <ol>
                    <li class="active">
                        <span>Typography</span>
                    </li>
                    <li>
                        <span>Colours</span>
                    </li>
                </ol>
            </li>
            <li>
                <div>
                    <i class="icon ion-ios-apps"></i>
                    <span>Elements</span>
                    <i class="icon ion-ios-arrow-up up"></i>
                </div>
            </li>
            <li>
                <div>
                    <i class="icon ion-ios-stats"></i>
                    <span>Analytics</span>
                </div>
            </li>
        </ol>
    </nav>
</aside>