<aside class="cmp__navigation">
    <nav>
        <ol>
            <li *ngFor="let item of items; let i = index;"
                [ngClass]="{'active': item.active, 'open': item.expanded}"
            >
                <div (click)="navigate(item, i)">
                    <!-- Item Icon -->
                    <i *ngIf="item.icon" class="icon {{item.icon}}"></i>

                    <!-- Item Name -->
                    <span>{{item.name}}</span>

                    <!-- Item dropdown's arrow (only if item has children) -->
                    <i  *ngIf="item.children && item.children.length > 0"
                        class = "icon ion-ios-arrow-down up"
                    ></i>
                </div>
                <!-- Item children's sub menu -->
                <ol *ngIf="item.children && item.children.length > 0" #childrenMenu>
                    <li 
                        *ngFor="let child of item.children" 
                        [ngClass]="{'active': child.active}"
                        (click)="navigate(child)"
                    >
                        <span>{{child.name}}</span>
                    </li>
                </ol>

                <!-- If item has no children, create empty HTML element to items array by 1. -->
                <hr *ngIf="!item.children || item.children.length === 0" #childrenMenu>
            </li>
        </ol>
    </nav>
</aside>